
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #C8C6AF;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header {
    height: 25%;
}

main {
    background-color: #95A78D;
    border: 5px outset #F87666;
    border-radius: 30px;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

section {
    width: 70%;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    padding: 100px;
}


img {
    width: 100px;
    height: 100px;
}

button {
    background-color: #BAD29F;
    border: 4px inset #D7D0C8;
    border-radius: 30px;
}

#current-result {
    padding-top: 5%;
}